@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#379683;
    --accent-color-dark:#05386B;
    --padding-inline-section: 20px;
}
body{
    font-family:'Poppins',sans-serif;
    color:var(--primary-text-color);
}

h1{
    font-size: 3rem;;
}
h2{
    font-size: 2rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    font-weight: 700;
}
/* utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}

.hover-links{
    color: var(--primary-text-color);
    transition: 0.5s ease-out;
}
.hover-links:hover{
    color: var(--accent-color);
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.5s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.5s ease-out;
}   
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* top banner */
.top-banner{
    background-color:#379683;;
}
.banner-text{
    color:white;
    padding: 15px 30px;
    text-align: center;
}

/* nav */
.main-nav{
justify-content: space-between;
margin-top: 20px;
}

.company-logo img{
    width: 250px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}
/* Header section */

header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 54vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-started-button{
    margin-top: 20px;
}

.header-right img {
    width: 400px;
}

/* features section */


.features-section{
    padding: 80px var(--padding-inline-section) 0;
}

.features-header{
    text-align: center;

}

.features-heading-text{
    margin-bottom: 20px;
}