{% extends 'home/base.html' %} {% load static %} {% block content %}

<header>
  <div class="container header-section flex-column">
    <div class="header-left">
      <h1>Farming Intelligently</h1>
      <p>
        Empowering farmers with AI and ML, this website offers intelligent
        solutions to maximize yields, optimize resources, and make data-driven
        decisions for a smarter future in agriculture.
      </p>
      <a href="#" class="primary-button get-started-button">Get Started</a>
    </div>
    <div class="header-right">
      <img
        src="{% static 'images/FarmingConfidently - Copy.jfif' %}"
        alt="Farmking Intelligently"
      />
    </div>
  </div>
</header>

<section class="companies-section">
  <div class="container">
    <div class="small-bold-text"></div>
  </div>
</section>

<section class="feature-section">
  <div class="container">
    <div class="features-header">
      <h2 class="features-heading-text">
        Weather, cost analysis, soil, crops & more
      </h2>
      <a href="#" class="secondary-button">
        See All Features<i class="fa-solid fa-right-long"></i>
      </a>
    </div>
  </div>
</section>
<section class="big-features-section"></section>
<section class="big-features-section"></section>
<section class="big-features-section"></section>
<section class="examples-section"></section>
<section class="cta-section"></section>
<footer></footer>
<div class="subfooter"></div>
<div class="spacer" style="height: 100vh"></div>
<script
  src="https://kit.fontawesome.com/81ca092d8e.js"
  crossorigin="anonymous"
></script>
{% endblock %}
